{% extends 'layout.html' %}
{% load static %}
<style>
  
</style>
{% block content %}


<div class="container-fluid">
    <h2 style="color:white;font-weight:bolder">Welcome, {{ user.get_full_name }} <small>{{ user.username }}</small>!</h2>
  <p>Your email address: {{ user.email }}</p>

    
            <div class="split left">
                <div class="centered">
            <img src="https://images.pexels.com/photos/174938/pexels-photo-174938.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                alt="insta" width="100%" height="100%" class="vert-move">
                <a href="/profile"><button class="glow-on-hover" type="button">Profile</button>
            </div>
            </div>
       
        
            
        
        <div class="split right">
        
            <div class="centered">
            <img src="https://images.pexels.com/photos/163184/instagram-cell-phone-tablet-device-163184.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                alt="pic2" width="auto" height="100%" class="vert-move">

            <a href="/news_feed"><button class="glow-on-hover" type="button">News Feed!</button>
            </div>
            </div>
    
    

</div>

{% endblock %}