{% extends "layout.html"%}

{{block.supper}}
{%block content%}


<div  class="container prof">
  <br><br>
  <div class="row">
    <div class="col-md-1"> </div>
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-4">
          
          {%for i in pic%}
          <img class="img-fluid rounded-circle" src="{{i.profile_photo.url}}" alt="profile">
          {%endfor%}
        </div>
        <div class="col-md-8">
          <div class=" idea">


          </div>

          {%for i in pic%}
          <a>{{user}}</a>
          <p>Bio: {{i.bio}}</p>
          {%endfor%}

    <a href="{%url 'uploads'%}"> <button type="button" class="btn btn-info">Upload Image</button></a>
    <a href="{% url 'edit'%}"><button type="button" class="btn btn-info">Edit</button></a>
 </div>

      </div>
      <br>
    
      </div>
     </div>
    <div class="col-md-1"> </div>

  </div>
  <div class="row">
   
    <div class="col-md-1"></div>
    <div class="col-md-8">
      <div class="row">
          
        {%if profile%}
        {%for photo in profile%}
        
        <div class="col-md-4 ">
          <div class="image">
          <a href="/stories/comment/{{photo.id}}"><img class="img-fluid" src="{{photo.image.url}}" alt=""></a>
            </div>
          </div>

        {%endfor%}
        {%else%}
        <div class="alert">
          <p class="animated fadeIn alert alert-info">You have not posted any Pictures <br>
          <a href="{%url 'uploads'%}">Get started</a></p>

        </div>
        {%endif%}

      </div>
    </div>
    <div class="col-md-1"></div>

  </div>

{% endblock %}