{%extends 'layout.html'%}
{%load static%}
{load bootstrap4}
{{block.supper}}
{%block content%}



   <div  class="container ">
     <div class="row">
         <div class="col-md-3"></div>
       <div class="col-md-7 contain">
         {%if founds%}
          <p>Marched {{founds|length}} related  Posts</p>
          {%else%}
          <p class="alert alert-danger animated fadeIn">Either {{term}} Has no photos to share or has no profile !</p>
          {%endif%}
         <div class="card">
           {%for user in founds%}
           <div class="card-title">
            <p><strong>{{user.user}}'s </strong>Posts</div>
            <div class ="card-body">
                <p>{{user.image_name}}</p>
            <img class="img-fluid" src="{{user.image.url}}" alt="" width="300">
            </div>
            <p>{{user.caption}}</p>
           {%endfor%}
         </div>
       </div>
       <div class="col-md-2 ">
         <div class="contain">


         <div class="open">
           <ul class="list-group">
             <a href="{%url 'news_feed'%}"><button class="btn btn info">News Feed</button></a></li>

           </ul>

         </div>




       </div>




       </div>

     </div>
    {% endblock %}